extends layout
block content
 .row.banner
 .col-12
 h1= title
 .row
 .col-12.col-lg-8
 p
 | Need to book an appointment?Our Appointment Management System helps you schedule your visits to various specialists effortlessly.
 | <br /><br />
 | Find the right doctor and time for your medical needs!