extends layout

block content
  .row.banner
    .col-12
      h1 Appointment Manager
      small &nbsp;Book your appointment easily and efficiently

  // Listing 4.6 Complete template for app_server/views/locations-list.pug
  // Name of the listing and a link to the location
  // Uses Font Awesome icons to output a star rating
  // Uses Bootstrap’s badge helper class to display the distance away
  // Address of the location
  // Facilities of the location, output using Bootstrap’s badge classes
  // Figure 4.9 Onscreen rendering of a single location on the List page

  // Starts header area
  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/location") Dharma Hospitals
            small &nbsp;
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
            span.badge.badge-pill.badge-default.float-right Multispeciality
          p.address General Hospital.123 Health St,Wellness City
          p.facilities
            span.badge.badge-warning cardiology
            span.badge.badge-warning Pediatrics
            span.badge.badge-warning Neurology

    .col-12.col-md-4
      p.lead Need to book an appointment? our appointment managment system helps you schedule your visits to various specialists effortlessly. find the right doctor and time for your medical needs